<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-absoluto">Lista de Pessoas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  @if (listarPessoas.length === 0) {
  <div style="text-align: center; margin-top: 50px;">
    <p>Ninguém cadastrado ainda...</p>
    <ion-spinner name="dots" color="primary"></ion-spinner>
  </div>
  }



    @for (pessoa of listarPessoas; track $index){
      <ion-item style="cursor: pointer" [routerLink]="['/detalhes', pessoa.id]">{{ pessoa.nome }} {{ pessoa.sobrenome }}</ion-item>
    }


</ion-content>
