.titulo-absoluto{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    text-align: center;
    pointer-events: none; 
}

ion-item {
  --background: #000000;

  &:hover {
    --background: #5c5858;
    cursor: pointer;
  }
}
