<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-input type="text" label="Nome" placeholder="Digite o Nome"></ion-input>
    <ion-input type="text" label="Sobrenome" placeholder="Digite o Sobrenome"></ion-input>
    <ion-input type="number" label="Idade" placeholder="Digite a Idade"></ion-input>
    <ion-input type="tel" label="Telefone" placeholder="(88) 8888-8888"></ion-input>
    <ion-input type="email" label="Email" placeholder="email@domain.com"></ion-input>
    <ion-input type="text" label="Cidade" placeholder="Digite o Cidade"></ion-input>
  </ion-list>
  <ion-button expand="full">Concluir</ion-button>

</ion-content>
