<ion-header [translucent]="true">
  <ion-toolbar class="title">
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-absoluto">Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="inputs">
    <ion-input [(ngModel)]="nome" type="text" label="Nome" placeholder="Digite o Nome"></ion-input>
    <ion-input [(ngModel)]="sobrenome" type="text" label="Sobrenome" placeholder="Digite o Sobrenome"></ion-input>
    <ion-input [(ngModel)]="idade" type="number" label="Idade" placeholder="Digite a Idade"></ion-input>
    <ion-input [(ngModel)]="telefone" type="tel" label="Telefone" placeholder="(88) 8888-8888"></ion-input>
    <ion-input [(ngModel)]="email" type="email" label="Email" placeholder="email@domain.com"></ion-input>
    <ion-input [(ngModel)]="cidade" type="text" label="Cidade" placeholder="Digite o Cidade"></ion-input>

  </div>
  <ion-button (click)="enviarDados()" expand="full">Concluir</ion-button>

</ion-content>
