.titulo-absoluto{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    text-align: center;
    pointer-events: none; 
}

ion-button{
  --background: white ;
}

.inputs{
    margin: auto;
    width: 90%;
}

ion-input {
  --background: rgba(255, 255, 255, 0.1);
  --padding-start: 12px;
  --padding-end: 12px;

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
