.titulo-absoluto{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    text-align: center;
    pointer-events: none; 
}

.btmeditar{
  --background: rgb(19, 93, 161);
  color: rgb(1, 1, 1);
}
.btmexcluir{
  --background: rgb(165, 46, 46);
  color: rgb(1, 1, 1);
}
.btmsalvar{
  --background: rgb(19, 93, 161);
  color: rgb(1, 1, 1);
}
.btmcancelar{
  --background:rgb(165, 46, 46);
  color: rgb(1, 1, 1);
}
