<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="div-one">
    <ion-button (click)="cadastro()" size="large">Cadastrar</ion-button>
    <ion-button (click)="editar()" size="large">Editar</ion-button>
  </div>
  <div class="div-two">
    <ion-button (click)="visualizar()" size="large">Visualizar</ion-button>
    <ion-button (click)="excluir()" size="large" >Excluir</ion-button>
  </div>
</ion-content>
